{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} All Tasks {% endblock %}
{% block content %}

{% for task in todo %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ task.task_name }} {{ task.task_priority }}</h5>
            <p class="card-text">{{ task.task_description }}</p>
            <a href="{% url 'todo:list-tasks' %}" class="btn btn-primary">Task</a>
            <a href="{% url 'todo:update-task' task.id %}" class="btn btn-secondary">Update</a>
            <a href="{% url 'todo:delete-task' task.id %}" class="btn btn-danger">Delete</a>

        </div>
    </div>
{% endfor %}

{% endblock %}
